body::before {
    background-size: cover;
    background-attachment: fixed;
    content: '';
    will-change: transform;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: fixed;
}

@media (max-width: 512px)  and (-webkit-min-device-pixel-ratio: 1.5),
       (max-width: 512px)  and (min-resolution: 1.5dppx),
       (max-width: 1024px) and (-webkit-max-device-pixel-ratio: 1.5),
       (max-width: 1024px) and (max-resolution: 1.5dppx) {
  body::before {
    background-image: url('../images/background.jpg');
  }
}
@media (min-width: 513px)  and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1.5),
       (min-width: 513px)  and (max-width: 1024px) and (min-resolution: 1.5dppx),
       (min-width: 1025px) and (max-width: 2048px) and (-webkit-max-device-pixel-ratio: 1.5),
       (min-width: 1025px) and (max-width: 2048px) and (max-resolution: 1.5dppx)  {
  body::before {
    background-image: url('../images/background.jpg');
  }
}
@media (min-width: 1025px) and (-webkit-min-device-pixel-ratio: 1.5),
       (min-width: 1025px) and (min-resolution: 1.5dppx),
       (min-width: 2049px) and (-webkit-max-device-pixel-ratio: 1.5),
       (min-width: 2049px) and (max-resolution: 1.5dppx) {
  body::before {
    background-image: url('../images/background.jpg');
  }
}
body .teamStepCont {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}
.teamStepCont--blogpost .teamStepCont-back {
  position: absolute;
  top: 16px;
  left: 16px;
  color: white;
  z-index: 9999;
}
.teamStepCont-blog--blogpost .teamStepCont-blog__posts > .mdl-card .mdl-card__media {
  background-image: url('../images/hood.jpg');
  height: 280px;
}
.teamStepCont .meta > .meta__favorites .material-icons {
  font-size: 2em;
  margin-left: 12px;
}
.fixed{
    position: fixed ! important;
}
.leftCard{
  margin-right: 100px ! important;
}
.teamStepCont .teamStepCont__posts {
  padding-bottom: 100px ! important;
  padding-top: 50px ! important;
  max-width: 900px;
  padding: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 auto;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.teamStepCont.mdl-layout .mdl-layout__content {
  padding-top: 230px;
  position: relative;
  -webkit-overflow-scrolling: touch;
}
.teamStepCont .mdl-card {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  /*min-height: 360px;*/
}
.teamStepCont .mdl-card__title {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 1px;    
  margin-bottom: none ! important;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.teamStepCont .mdl-card__media {
  box-sizing: border-box;
  background-size: cover;
  /*padding: 24px;*/
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.teamStepCont .mdl-card__media a,
.teamStepCont .mdl-card__title a {
  color: inherit;
}
.teamStepCont .mdl-card__supporting-text {
  width: 100%;
  padding: 16px;
  min-height: 64px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.mdl-card__supporting-text-Changed{
    color:rgba(0,0,0,.54);
    font-size:1rem;
    line-height:18px;
    overflow:auto;
    padding:16px;
    width:90%
}
.text-size{
  font-size: 15pt;
  line-height: 120%;
  overflow: auto ! important;
}
li{
  margin: 5px;
  font-size: 12pt;
}
.teamStepCont .mdl-card__supporting-text strong {
  font-weight: 400;
}
.teamStepCont .mdl-card__media ~ .mdl-card__supporting-text {
  min-height: 64px;
}
.teamStepCont .mdl-card__supporting-text:not(:last-child) {
  box-sizing: border-box;
  min-height: 76px;
}
.teamStepCont:not(.teamStepCont--blogpost) .mdl-card__supporting-text ~ .mdl-card__supporting-text {
  border-top: 1px solid rgba(0,0,0,0.1);
}

.teamStepCont .meta {
  box-sizing: border-box;
  padding: 16px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: auto;
}

.teamStepCont .meta > *:first-child {
  margin-right: 16px;
}

.teamStepCont .meta > * {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.teamStepCont-blog .teamStepCont-blog__posts {
  padding-bottom: 100px ! important;
  padding-top: 50px ! important;
  max-width: 900px;
  padding: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 auto;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
.middleDivider {
  bottom: 0;
  max-width: 100%;
  position: relative;
  margin: 10px;
  opacity: 0.8;
  text-align: center;
  background-color:  #f0aa89
}
.middleDivider-text {
  max-width: 800px;
  margin-left: 25%;
  padding: 24px;
  text-align: left;
  color: white;
}
.contact-us:hover{
      background-color: #5cbdea ! important;
}
.contact-us {
      position: fixed;
      display: block;
      width: 100%;
      margin-left: 5px;
      margin-right: 5px;
      font-size: 24pt;
      background-color:#89cff0  ! important;
      z-index: 900;
}
.middleDivider-text p {
    padding-top: 8px;
}
.teamStepCont-blog--blogpost .teamStepCont-back {
  position: absolute;
  top: 16px;
  left: 16px;
  color: white;
  z-index: 9999;
}
.teamStepCont .teamStepps .mdl-card__media {
  background-image: url('../images/teamStepps.jpg');
  height: 200px;
  background-position: top;
}
.teamStepCont .tuningUp .mdl-card__media {
  background-image: url('../images/puzzle.jpg');
  position: relative;
  height: 200px;
}

.teamStepCont .problemSolving .mdl-card__media {
  background-image: url('../images/teamProblemSolving.jpg');
  height: 200px;
}

.align-card{
  display: inline-block ! important;
  max-width: 100%;
  margin: 50px;
}
@media screen and (max-width: 600px) {
    .align-card{
      margin-left: 0;
      margin-right: 0;
      margin-top: 0;
      margin-bottom: 10;
      
    }
}

.teamStepCont .mdl-card h3 {
  margin: 0;
}


.teamStepCont .leadership .mdl-card__media {
  background-image: url('../images/leadership.jpg');
  height: 200px;
}

.teamStepCont .DC .mdl-card__media {
  background: url('../images/DC.jpg');
  position: relative;
  height: 320px;
  width: 100%;
}

/* Fixes for IE 10 */
.mdl-grid {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
