// Styling for the experience section
#experience{
    .back-shade{
      // border-radius: 25px;
    }
    .be-part-story{
      min-width: 1200px;
      min-height: 600px;
      background: black;
    }
}
