// Styling for the masthead


header.masthead {
    #page-banner {
      text-align: center;
      position: relative;
      overflow: hidden;
    }
    @include background-cover;
    .intro-text {
      align-content: center;
      .intro-heading {
        font-size: 60px;
        font-weight: 700;
        line-height: 40px;
        margin-bottom: 8px;
        @include heading-font;
      }
      .intro-lead-in {
        font-size: 14px;
        font-style: italic;
        line-height: 25px;
        margin-bottom: 24px;
        color: $gray-lighter;
        @include serif-font;
      }
    }
  }
  @media(max-width:776px) {
    header.masthead {
    .intro-text {
      .intro-heading {
        font-size: 40px;
        margin-bottom: 8px;
      }
      .intro-lead-in {
      display: none;
    }
    }
  }
  }
  @media(min-width:1200px) {
    header.masthead {
    .intro-text {
      .intro-heading {
        font-size: 90px;
        line-height: 70px;
        margin-bottom: 8px;
      }
      .intro-lead-in {
        font-size: 18px; 
      }
    }
  }
  }
  @media(max-width:776px) {
    header.masthead {
      .intro-text {
        .intro-heading {
          font-size: 40px;
          margin-bottom: 8px;
        }
        .intro-lead-in {
          display: none;
        }
        .play {
          font-size: 50px !important;
        }
      }
    }
  }
header .container {
  position: relative;
  z-index: 3;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 2;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}

.modal-dialog {
      max-width: calc(100% - 200px);
      margin: 30px auto;
  }

.modal-body {
  position:relative;
  padding:0px;
}

.close {
  position:absolute;
  right:-30px;
  top:0;
  z-index:999;
  font-size:2rem;
  font-weight: normal;
  color:#fff;
  opacity:1;
}

.play {
  font-size: 85px;
  color: $theme-primary;
  animation-duration: 1s;
  &:hover, &:focus {
    &:before {
      cursor: pointer;
       transform: scale(1.1);
       -webkit-transform: scale(1.1);
       -moz-transform: scale(1.1);
    }
  }
}

.theme-color {
  color: $theme-primary;
  &:hover {
    cursor: pointer;
    color: lighten($theme-primary, 20%);
  }
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.tv {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 100%;

  overflow: hidden;
  
  .screen {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    margin: auto;
  }
}